@import url('common.css');

/* index.css */

header{
    width:60%; margin:0 auto;
    padding:40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header > h1{}
header > nav {}
header > nav > a {
    padding:10px 20px;
    display:inline-block;
}

main{}
.spot{
    background:url('../img/img_spot.jpg') no-repeat 0 0 / 100%;
    /* cover 해당 백그라운드 사이즈 width height만큼 꽉채워주는 역할을 함 */
    height:700px;

    display:flex;
    justify-content: center;
    align-items: flex-end;
    transition: 10s;
}
.spot:hover{
    background-size:200%;
}
.spot > div{
    margin-bottom:-100px;
    width:780px;
    background-color:#fff;
    padding:60px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.4);
    /* x y blur color */
    transition: .5s;
}
.spot:hover > div {
    margin-bottom:-30px;
}
.spot > div > h2{}
.spot > div > figure{
    margin-top:20px;

}
.spot > div > figure > img{width:100%}
.spot > div > figure > figcaption{
    text-align:center;
    margin-top:20px;

}
.spot > div > figure > figcaption > a {
    background:#333;
    color:#fff;
    padding: 10px 30px;
    margin-top:20px;
    display:inline-block;

    /* display:block;
    width: 100px;
    margin: 0 auto;  -> br태그 하나로 처리됨*/
}

footer{
    text-align: center;
    padding:150px 0;
    color:grey;
}